* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}


body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}


.board {
    display: grid;
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* bloquear celula com cursor bloqueado de clique nao permitido */

.cell.x,
.cell.circle {
    cursor: not-allowed;
}


/* tirar as laterais da tabela */

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}


.cell.x::before, .cell.x::after {
  content: "";
  height: calc(100px * 0.15);
  width: calc(100px * 0.9);
  background: antiquewhite;
  position: absolute;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

.cell.circle::before, .cell.circle::after {
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background: white;    
    position: absolute;
    border-radius: 50%;
}


.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(129, 127, 127, 0.8);
    flex-direction: column; /* para o conteúdo ficar sobreposto*/
}

.winning-message-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    background-color: #eea2a2;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px; /* espaçamento entre o botao e o texto */
    color: whitesmoke;
}

.winning-message-button:hover {
    font-family: 'Courier New', Courier, monospace;
    color: #eea2a2;
    background-color: antiquewhite;
} 

.winning-message-text {
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    font-size: 3rem;   
}

.show-winning-message {
    display: flex;
  }